<div class="fade-in">
  <c-card class="mb-4">
    <c-card-header>
      Transferts
    </c-card-header>
    <c-card-body>
      <div class="d-flex justify-content-center" >
        
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cash-stack" viewBox="0 0 16 16">
          <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
          <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
        </svg>

        <h6 class="ms-3 mt-1">Transfert de fond</h6>


      </div>

      <div class="d-flex justify-content-center p-3 ps-5 pe-5" >

        
        
        <div class="input-group mb-6">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
        

      </div>

      <div class="d-flex justify-content-center p-3 ps-5 pe-5" >
        
        <div class="input-group mb-6">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-text">.00</span>
        </div>
        
      </div>


      <div class="d-flex justify-content-center p-3 ps-5 pe-5" >
        
        <button type="button" class="btn btn-secondary">Secondary</button>

      </div>

      

    </c-card-body>
  </c-card>
</div>
